<div class="product-form-component">

  <notification-bar></notification-bar>
  
  <header>
    <div class="header-wrapper">            
      <h2>{{ ($updateMode | async) ? 'Atualizar produto' : 'Cadastrar novo produto' }}</h2>
      <button mat-button aria-label="Sair do formulário" (click)="onClose()">
        <mat-icon>close</mat-icon> Fechar
      </button>
    </div>
  </header>

  <div class="content">

    <div class="upload-image-wrapper">
      <div class="upload-image" (click)="file.click()">
        <mat-icon *ngIf="!form.controls.image.value">add_a_photo</mat-icon>
        <img [src]="form.controls.image.value" *ngIf="form.controls.image.value">
      </div>      
    </div>
    <input #file type="file" accept='image/*' (change)="onSelectFile(file.files)" style="display: none;">

    <form [formGroup]="form">

      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Nome" formControlName="name" maxlength="256">
      </mat-form-field>      

      <mat-form-field appearance="outline">
        <input matInput type="number" placeholder="Valor" formControlName="value">
      </mat-form-field>

      <div class="button-wrapper">
        <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">Salvar</button>

        <button mat-flat-button color="accent" (click)="onDelete()" *ngIf="$updateMode | async">Deletar</button>
      </div>

    </form>

  </div>

</div>